<!-- Assuming 'title' is a variable passed to this template -->
<li class="nav-item">
  <% if (title === "Web Developer") { %>
    <img src="/Assets/images/home.png" alt="Home">
  <% } else { %>
    <!-- You can include an alternative content here -->
    <!-- For example: -->
   
  <% } %>
</li>





 
 