<nav>
  <img src="/Assets/images/logo.png" class="logo">
  <ul id="sidemenu">
    <li class="nav-item">
      <% if (title === "Home") { %>
        <a class="nav-link active" href="/home">Home</a>
      <% } else { %>
        <a class="nav-link" href="/home">Home</a>
      <% } %>
    </li>


    <li class="nav-item">
      <% if (title === "About Me") { %>
        <a class="nav-link active" href="/About">About Me</a>
      <% } else { %>
        <a class="nav-link" href="/About">About Me</a>
      <% } %>
    </li>


    <li class="nav-item">
      <% if (title === "Projects") { %>
        <a class="nav-link active" href="/Projects">Projects</a>
      <% } else { %>
        <a class="nav-link" href="/Projects">Projects</a>
      <% } %>
    </li>


    <li class="nav-item">
      <% if (title === "Contact Me") { %>
        <a class="nav-link active" href="/Contact">Contact Me</a>
      <% } else { %>
        <a class="nav-link" href="/Contact">Contact Me</a>
      <% } %>
    </li>
  </ul>
</nav>

