<li class="nav-item">
    <% if (title === "Projects") { %>
        <div id="projects">
            <div class="container">
                <div class="projects-col-1">
                    <div class="project-list">
                        <div class="project-item">
                            <img src="/Assets/Project 1.PNG" alt="Project 1">
                            <h2>Python</h2>
                            <p>This Python script develops a straightforward BMI (Body Mass Index) calculator, complete with a graphical user interface (GUI) designed with the tkinter library...</p>
                        </div>
                        <!-- Add more project items as needed -->
                        <div class="project-item">
                            <img src="/Assets/Project 2.jpeg" alt="Project 2">
                            <h2>Raspberry Pi</h2>
                            <p>Raspberry Pi security system with an LCD display. Users enter a PIN followed by "#." Successful entry displays "Valid Key," triggers two beeps and two green LED flashes...</p>
                        </div>
                        <div class="project-item">
                            <img src="/Assets/Project 3.png" alt="Project 3">
                            <h2>MAC spoofing</h2>
                            <p>The primary goal of this exercise is to educate participants on how to recognize and effectively respond to security threats that may arise from the manipulation of MAC addresses.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
       
    <% } %>
</li>




